.containerLoading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
}

.boxOne {
  background-color: #ffffff;
}

.boxLogo {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 1rem;
  padding: 1rem;
}

.boxButton {
  margin-top: 1rem;
}

.backgroundBottom {
  background-color: #f8f9fa9d;
  width: 100%;
  height: 100%;
}

.boxTwo {
  background-color: #f2f2f2;
  height: 100vh;
}

.boxContent {
  padding: 15px;
}

.titleMessage {
  font-size: medium;
  font-weight: bold;
}

.cardMessage {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.message {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
}

.editButton,
.saveButton {
  background-color: #2c28a7;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
}

.editButton:hover,
.saveButton:hover {
  opacity: 0.8;
}

.deleteButton {
  width: 30px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.boxLottie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.textLottie {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f2f2f2;
}

@media (min-width: 768px) {
  .logo {
    max-width: 300px;
  }

  .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .boxtitleMessage {
    display: flex;
    justify-content: center;
  }

  .titleMessage {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

@media (min-width: 1024px) {
  .cardMessage {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .message {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}
